<configuration>

 <logger name="grisu" level="debug"/>


  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${user.home}/.grisu/gricli.debug</file>
    <append>true</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>session=%X{session} version=%X{gricli-version} %-4relative [%thread] %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>


  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="warn" />
    <appender-ref ref="FILE" />
<!--     <appender-ref ref="STDOUT" /> -->
  </root>
</configuration>
